# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.g.dart
*.freezed.dart

# Environment
.env

# IDE
.idea/
.vscode/settings.json
*.iml
*.ipr
*.iws
.DS_Store

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties
**/android/app/google-services.json

# Coverage
coverage/

# Generated
lib/**/*.g.dart
lib/**/*.freezed.dart
